<!--开启页面选项卡后，显示为选项卡标题-->
<title>系统设置</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>设置</cite></a>
    <a><cite>系统设置</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">网站设置</div>
        <div class="layui-card-body" pad15>

          <div class="layui-form" wid100 lay-filter="LAY-config-form">
            <div class="layui-form-item">
              <label class="layui-form-label">后台显示名称</label>
              <div class="layui-input-inline">
                <input type="text" name="title" value="" lay-verify="required" lay-reqtext="后台显示名称不能为空"
                       class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">页面选项卡</label>
              <div class="layui-input-block">
                <input type="checkbox" name="page_tab_switch" lay-skin="switch" lay-text="开启|关闭">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="LAY-config-submit">确认保存</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['admin', 'form'], function () {
    let form = layui.form
        , admin = layui.admin;

    form.render(null, 'LAY-config-form');
    admin.get('admin/config', function (res) {
      let data = res.data;
      if (data.page_tab_switch && data.page_tab_switch === 'off') {
        data.page_tab_switch = undefined;
      }
      form.val('LAY-config-form', res.data);
    });
    form.on('submit(LAY-config-submit)', function (data) {
      let field = data.field;
      admin.post('admin/config', field, function (res) {
        layer.msg('保存成功, 刷新页面后改动才会生效');
      })
    })
  });
</script>