<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>首页</cite></a>
    <a><cite>数据看板示例</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-sm6 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">
          订单数
          <span><i class="layui-icon layui-icon-cart"></i></span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p>
            当日销售订单数
            <span class="layuiadmin-span-color">88 </span>
          </p>
          <p>
            当月销售订单数
            <span class="layuiadmin-span-color">88 </span>
          </p>
        </div>
      </div>
    </div>
    <div class="layui-col-sm6 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">
          订单数
          <span><i class="layui-icon layui-icon-cart"></i></span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p>
            当日销售订单数
            <span class="layuiadmin-span-color">88 </span>
          </p>
          <p>
            当月销售订单数
            <span class="layuiadmin-span-color">88 </span>
          </p>
        </div>
      </div>
    </div>
    <div class="layui-col-sm6 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">
          订单数
          <span><i class="layui-icon layui-icon-cart"></i></span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p>
            当日销售订单数
            <span class="layuiadmin-span-color">88 </span>
          </p>
          <p>
            当月销售订单数
            <span class="layuiadmin-span-color">88 </span>
          </p>
        </div>
      </div>
    </div>
    <div class="layui-col-sm6 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">
          订单数
          <span><i class="layui-icon layui-icon-cart"></i></span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p>
            当日销售订单数
            <span class="layuiadmin-span-color">88 </span>
          </p>
          <p>
            当月销售订单数
            <span class="layuiadmin-span-color">88 </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">代理信息</div>
        <div class="layui-card-body">
          <div class="layadmin-backlog">
            <ul class="layui-row layui-col-space10">
              <li class="layui-col-xs6">
                <a class="layadmin-backlog-body">
                  <h3>服务费率</h3>
                  <p><cite>
                    10%
                  </cite></p>
                </a>
              </li>
              <li class="layui-col-xs6">
                <a class="layadmin-backlog-body">
                  <h3>有效期至</h3>
                  <p><cite>
                    2021-01-01
                  </cite></p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">代理信息</div>
        <div class="layui-card-body">
          <div class="layadmin-backlog">
            <ul class="layui-row layui-col-space10">
              <li class="layui-col-xs6">
                <a class="layadmin-backlog-body">
                  <h3>服务费率</h3>
                  <p><cite>
                    10%
                  </cite></p>
                </a>
              </li>
              <li class="layui-col-xs6">
                <a class="layadmin-backlog-body">
                  <h3>有效期至</h3>
                  <p><cite>
                    2010-01-01
                  </cite></p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
